.Responses {
    margin-top: 40px;
    transition-duration: 500ms;
}

.Responses h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.Responses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}