.Presets {
    margin-top: 40px;
    transition-duration: 500ms;
}

.Presets h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.Preset {
    margin-top: 20px;
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 680px) {
    .Preset {
        flex-direction: column;
    }
}

@media only screen and (max-width: 380px) {
    .Presets {
        text-align: center;
    }

    .Preset {
        flex-direction: column;
    }
}