.FormTextArea h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.FormTextArea textarea {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-appearance: none;
    transition-duration: 500ms;
    resize: none;
}

.FormTextArea textarea::placeholder {
    color: #d3d3d3;
    transition-duration: 500ms;
    transition-property: color;
  }

.FormTextArea textarea:focus {
    outline: none;
}

.FormTextArea textarea.loading {
    /* background-color: #F4F4F4; */
    color: #d3d3d3;
}

.FormTextArea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .FormTextArea textarea {
        text-align: center;
    }
}

@media only screen and (max-width: 380px) {
    .FormTextArea-header {
        flex-direction: column;
    }

    .FormTextArea h2 {
        margin-bottom: 20px;
    }

    .FormTextArea textarea {
        /* background-color: #d3d3d3; */
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
}
  
