.Response {
    margin-top: 30px;
    background-color: #F4F4F4;
    border-radius: 5px;
    padding: 25px 25px 10px;
}

.Response-button {
    display: flex;
    justify-content: flex-end;
}

.Response-engine-container {
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 0.8rem;
}


@media only screen and (max-width: 380px) {
    .Response  {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}