.CustomButton {
    width: auto;
    height: 40px;
    padding: 0 30px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed';
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 500ms;
}

.CustomButton:hover {
    background-color: #0080de;
}

.CustomButton.red:hover {
    background-color: red;
}

.CustomButton.disabled {
    cursor: not-allowed;
    background-color: #d3d3d3;
}

.CustomButton.disabled:hover {
    background-color: #d3d3d3;
}